@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800&subset=korean');

@media screen and (min-width: 300px) {

    .table {
        position: absolute;
        top: 42% !important;
        left: 13% !important;
        font-family: 'Gothic A1', sans-serif;
    }

}

@media screen and (min-width: 960px) {

    .table {
        position: absolute;
        top: 42% !important;
        left: 19% !important;
        font-family: 'Gothic A1', sans-serif;
    }
    
}

table {
    display: block;
    height: 700px;
    overflow: auto;
}

.searchbar {
    position: relative;
    margin-top: 70%;
    margin-left:39%;
    margin-bottom: 8%;
}

.searchbar2 {
    position: relative;
    margin-top: 1%;
    margin-left: 50%;
    margin-bottom: 8%;
}

.font1 {
    font-weight: 600;
    font-size: 2em;
}

.font2 {
    font-weight: 400;
    font-size: 1.5em;
    color: grey;
}

.font3 {
    font-weight: 400;
    font-size: 1.5em;
}
/* DivTable.com */
.divTable{
	display: table;
  width: 400px;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
  border-top: 1px solid #999999;
  border-right: 1px solid #999;
	display: table-cell;
  padding: 3px 10px;
  height: 100px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.selected {
  background-color: rgb(255, 174, 0);
}

.stage {
  border: 1px solid #999;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em
}

.show-title {
  font-size: 4em;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  margin-bottom: 0.1em;
}

.show-sub {
  font-size: 1.4em;
  font-family: 'Nanum Gothic', sans-serif;
  margin-bottom: 1.3em;
  display: inline
}

.show-status {
  display: inline;
}

.show-content {
  width: 100%;
  overflow: auto;
}

h1 {
  font-family: 'Nanum Gothic', sans-serif;
}

.ha {
  color: rgb(255, 174, 0);
}

.ha:hover {
  color: rgb(255, 100, 0)
  font-size: 2em
}

.logo {
    width: 240px;
    height: 120px;
    margin-top: 10%;
    margin-bottom: 9%;
    margin-right: 80px;
}

.logo2 {
    width: 240px;
    height: 80px;
    margin-top: 16%;
    margin-bottom: 5%;
}


.font4 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
}

.font5 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
}